{
    "presets": ["es2015"],
    "plugins": [
        ["react-hot-loader/babel"],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true,
                "libraryDirectory": "es"
            }
        ]
    ]
}
