# sfdx org aliases to configure targets for npm scripts
#   Dont check these into .git, (to allow each developer to configure independently)
dev_alias=demo@bass.starter
scratch_alias=scratch
prod_alias=demo@bass.starter
