# sfdx org aliases or usernames to configure targets for npm scripts
#   These should not be checked into .git (to allow each developer to configure independently)
dev_alias=demo@bass.starter
scratch_alias=scratch
prod_alias=demo@bass.starter
